.item {
  display: flex;
  padding: 30px;
  text-align: center;
}

@media (max-width: 480px) {
  .item {
    flex-direction: column;
    margin: 15px;
    align-items: center;
  }
}

@media (min-width: 481px) {
  .item {
    box-shadow: 0px 0px 5px 4px rgba(224, 224, 224, 1);
    flex: 1 0 45%;
    margin: 15px;
  }
}

@media (min-width: 1280px) {
  .item {
    box-shadow: 0px 0px 5px 4px rgba(224, 224, 224, 1);
    flex: 1 0 30%;
    margin: 15px;
  }
}
