* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 60px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 1px solid grey;
  padding: 10px 15px;
}

li:last-child {
  border: none;
}

@media (min-width: 769px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
}